/* ============容器============== */
*{font-family:'microsoft yahei',Verdana, Arial!important}
html{overflow-y:scroll;}
body{margin:0;padding:0;border:0;height:100%;text-align:left} 
#contain{position: relative;height:100%;padding:10px;margin:10px auto;border:0;}
#content {position:relative;margin:10px auto 10px auto} 
#bottom {position: relative;margin:0px auto} 
#top {position:relative;margin:0px auto;z-index:99}  
#bodyex {position: absolute;left:0;top:0;margin:0} 
#bottomex {position: absolute;left:0;bottom:0;margin:0;z-index:-1} 
#topex {position: absolute;left:0;top:0;margin:0;z-index:-1} 
#contentex {position: absolute;left:0;top:0;margin:0;z-index:-1} 
#advsex,#advsex1,#advsex2,#advsex3,#advsex4,#advsex5,#advsex6 {display:none;position: absolute;width:100%;left:0;bottom:0;margin:0;} 
#showpages{padding-bottom:40px!important;}

/*===插件分离层===*/

.pdv_class{position:absolute;border:0px}


/* ==常用== */

div,li,td,p,select,input,textarea,a,button,input{font:12px 'microsoft yahei',Verdana, Arial;color:#505050;text-decoration: none}
ul{margin:0px;padding:0px;list-style-type:none;}
a:link,a:visited,a:active{color:#505050;text-decoration: none;}
a.nomal:link,a.nomal:visited,a.nomal:active{color:#505050;text-decoration: underline;}
a:hover{color:#ff0000;text-decoration: none;}
table {display:inline-block;border-collapse:collapse;border:none;}

/* ============表单============== */
form{margin:0;padding:0}
.input{border:1px #ddd solid;height:20px;line-height:20px;padding:0px 3px;color:#555;background:#f7f7f7}
.textarea{border:1px #ddd solid;font-size:12px;padding:3px;background:#f7f7f7}
.button{border:1px #c0c0c0 solid;height:22px;line-height:20px;padding:0px 3px;background:#e8e8e8;}
.submit{border:1px #c0c0c0 solid;height:22px;line-height:20px;padding:0px 3px;background:#e8e8e8;}
.mustfill{color:#ff0000}
select{font:12px 'microsoft yahei',Verdana, Arial;color:#505050;}
[class^="icon-"], [class*=" icon-"],.icon{background:url(../images/icon.png) no-repeat;}
.icon-tel{background-position:0 0;width:18px;height:15px;}
.tel{float:right;position:relative;margin-top:35px;font-size:14px;height:42px;color:#555;line-height:20px;padding-left:50px;}
.tel i{position:absolute;left:0;top:0;float:left;background-position:0 0px;width:41px;height:41px;}
.tel strong{color:#df1d1e;line-height:20px;}
.underline{ width:70px; height:4px; background:#D92126;  margin:18px auto;}
.ywly ul li {
	float: left;
	width: 360px;
	height: 190px;
	background-color: white;
	box-shadow: 0 0 14px 5px rgba(0,0,0,.3);
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
	position: relative;
}

.ywly ul li i {
	position: absolute;
	width: 45px;
	height: 45px;
	background: url(../images/index/ywly-icon.html) no-repeat;
	left: 28px;
	top: 22px;
}

.ywly ul li .right-info {
	padding: 22px 0 0 80px;
}

.ywly .right-info .til {
	font-size: 20px;
	font-weight: bold;
}

.ywly .right-info .sub {
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
}

.ywly .desc {
	overflow: hidden;
	margin-top: 10px;
	color: #333;
	font-size: 14px;
}

.ywly .desc span {
	display: block;
	float: left;
	width: 135px;
}

.ywly .desc span font {
	display: block;
	padding-left: 10px;
	position: relative;
	margin-bottom: 3px;
}

.ywly .desc span font:before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: #666;
	left: 0;
	top: 50%;
	margin-top: -3px;
}

.ywly .zixunBtn {
	display: block;
	width: 130px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 32px;
	margin: 10px 30px;
	border: 1px solid;
	font-size: 18px;
}

.ywly .orange {
	color: #ff9a00;
}

.ywly .orange a {
	color: #ff9a00;
}

.ywly .blue {
	color: #a40000;
}

.ywly .blue a {
	color: #a40000;
}

.ywly .green {
	color: #2ada9a;
}

.ywly .green a {
	color: #2ada9a;
}

.ywly .color1 {
	color: #ff9a00;
}

.ywly .color1 a {
	color: #ff9a00;
}

.ywly .color2 {
	color: #a40000;
}

.ywly .color2 a {
	color: #a40000;
}

.ywly .color3 {
	color: #2ada9a;
}

.ywly .color3 a {
	color: #2ada9a;
}

.ywly .color4 {
	color: #2ada9a;
}

.ywly .color4 a {
	color: #2ada9a;
}

.ywly .color5 {
	color: #ff9a00;
}

.ywly .color5 a {
	color: #ff9a00;
}

.ywly .color6 {
	color: #a40000;
}

.ywly .color6 a {
	color: #a40000;
}

.ywly .icon2 {
	background-position: -45px 0;
}

.ywly .icon3 {
	background-position: -90px 0;
}

.ywly .icon4 {
	background-position: -135px 0;
}

.ywly .icon5 {
	background-position: -180px 0;
}

.ywly .icon6 {
	background-position: -225px 0;
}

.s1 {
	width: 100%;
	text-align: center;
	height: inherit;
}

.s2 {
	width: 1060px;
	margin: 0 auto;
	height: inherit;
}

.s3 {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.s4 {
	width: 25%;
	text-align: center;
	overflow: hidden;
	float: left;
}

.s5 {
	width: 75%;
	text-align: center;
	overflow: hidden;
}

.sort2 {
	padding-bottom: 98px;
	overflow: hidden;
}

.sort2 .p3 {
	width: 47%;
	float: left;
	background: #ffffff;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #dddddd;
	padding-bottom: 34px;
}

.sort2 .p4 {
	width: 47%;
	float: right;
	background: #ffffff;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #dddddd;
	padding-bottom: 34px;
}

.sort2 .p5 {
	background: #ffffff;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	padding-bottom: 34px;
	color: #838383;
}

.sort2 .p5:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.sort2 .p5:hover h4 {
	color: #d53744;
}

.sort2 i {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: #b43641;
	border-radius: 5px 0 0 0;
	color: #ffffff;
	text-indent: 3px;
	line-height: 28px;
	font-size: 20px;
}

.sort2 img {
	width: 64px;
	height: 74px;
	clear: both;
	margin-top: 38px;
    /* margin-left: 30px; */
}

.sort2 h4 {
	margin-top: 40px;
	font-size: 26px;
	margin-bottom: 20px;
	color: #383838;
}

.sort2 .s3 p {
	font-size: 16px;
	color: #838383;
	padding-left: 101px;
	text-align: left;
}

.sort2 h1 {
	font-size: 40px;
	padding-top: 90px;
}

.sort2 p.sub {
	font-size: 20px;
	color: #838383;
	margin-top: 20px;
	margin-bottom: 60px;
}

.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.qd {
	height: 658px;
	min-width: 100%;
	overflow: hidden;
}

.form-box {
	width: 485px;
	height: 450px;
	background: white;
	border-radius: 5px;
}

.form-box h2 {
	color: #333333;
	font-size: 24px;
	padding: 30px 0 25px 0;
	text-align: center;
}

.qd-box>.qd-h>p {
	padding-bottom: 40px;
}

.form-group input,select {
	height: 50px;
	width: 440px;
	border: 1px solid #e5e5e5;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 5px;
	color: #999999;
	font-size: 16px;
	text-indent: 30px;
}

.form-group {
	position: relative;
	width: 440px;
	margin: auto;
}

.form-group>i {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 9px;
	top: 18px;
}

.form-icon1 {
	background-position: -576px 0;
}

.form-icon2 {
	background-position: -607px 0;
}

.form-icon3 {
	background-position: -632px 0;
}

.form-btn {
	width: 440px;
	margin: auto;
	padding: 10px 0 20px 0;
}

.form-btn>button {
	width: 440px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	border-radius: 25px;
	background-color: #D92126;
}

.form-group .yzm {
	width: 200px;
}

.form-group .form-span {
	float: right;
	padding-top: 20px;
	color: #666666;
	font-size: 16px;
}

.form-group .write {
	width: 150px;
	margin: 0 0 5px 20px;
}

.form-box p {
	color: #666666;
	font-size: 16px;
	text-align: center;
}

.qd-content {
	overflow: hidden;
}

.qd-content>div {
	float: left;
}

.qd-list {
	margin: 0 0 0 30px;
}

.qd-list>li {
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 5px;
	background: white;
	height: 85px;
	padding: 40px 35px 5px 35px;
	transition: all 0.5s;
}

.qd-list>li>div {
	vertical-align: middle;
}

.qd-list h2 {
	color: #333333;
	font-size: 24px;
	font-weight: 500;
	padding-left: 10px;
	transition: all 0.5s;
}

.qd-list p {
	margin: 0;
	line-height: 28px;
	color: #666666;
	font-size: 16px;
	padding-left: 10px;
	transition: all 0.5s;
}

.qd-list>li:hover {
	opacity: 1;
	background: #D92126;
	transition: all 0.5s;
}

.qd-list>li:hover h2 {
	opacity: 1;
	color: white;
	transition: all 0.5s;
}

.qd-list>li:hover p {
	opacity: 1;
	color: white;
	transition: all 0.5s;
}

.qd-icon1 {
	width: 56px;
	height: 55px;
	background: url(../images/qd.png);
	transition: all 0.5s;
}

.qd-list>li:hover .qd-icon1 {
	opacity: 1;
	background: url(../images/qd-hover.png);
	transition: all 0.5s;
}

.qd-icon2 {
	width: 67px;
	height: 56px;
	background: url(../images/qd-2.png);
	transition: all 0.5s;
}

.qd-list>li:hover .qd-icon2 {
	opacity: 1;
	background: url(../images/qd-2hover.png);
	transition: all 0.5s;
}

.qd-icon3 {
	width: 61px;
	height: 62px;
	background: url(../images/qd-3.png);
	transition: all 0.5s;
}

.qd-list>li:hover .qd-icon3 {
	opacity: 1;
	background: url(../images/qd-3hover.png);
	transition: all 0.5s;
}

.qd-list .tel-phone {
	margin: 0;
	color: #D92126;
	font-weight: 600;
}

.dib {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.dib p,.dib h2 {
	margin: 0;
}
/*解决法律纠纷，多种渠道为您连线律师end*/

.form-box h2 {
	font-weight: 500px;
	padding: 0;
	padding-top: 25px;
}

.form-group input, select {
	height: 40px;
	margin-bottom: 10px;
}

.opacity:hover {
	opacity: 0.8;
	filter：alpha(opacity=80);
}

button, html input[type="button"], input[type="submit"] {
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button {
	outline: none;
	border: none;
	font-family: "微软雅黑";
	background-color: white;
}

#lawyer {
	width: 100%;
}

#lawyer .content {
	width: 1200px;
	margin: 0 auto;
}

#lawyer .content .lawy_list {
	margin-top: 18px;
	width: 1200px;
	overflow: hidden;
}

#lawyer .content ul {
	width: 2600px;
	position: relative;
}

#lawyer .content ul li {
	width: 276px;
	margin-right: 32px;
	float: left;
}

#lawyer .content ul li .top img {
	width: 276px;
	height: 276px;
}

#lawyer .content ul li .buttom {
	width: 274px;
	height: 154px;
	background: #f5f5f5;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	position: relative;
}

#lawyer .content ul li .buttom h6 {
	font-size: 14px;
	color: #12111a;
	font-family: '微软雅黑';
	font-weight: 500;
	padding-top: 19px;
	width: 250px;
	margin: 0 auto;
}

#lawyer .content ul li .buttom h6 .span1 {
	font-size: 21px;
	color: #12111a;
	font-weight: 500;
	margin-right: 8px;
}

#lawyer .content ul li .buttom h6 .span2 {
	float: right;
	line-height: 40px;
}

#lawyer .content ul li .buttom p {
	font-size: 14px;
	color: #666666;
	font-family: '微软雅黑';
	width: 250px;
	margin: 0 auto;
	padding-top: 3px;
	height: 38px;
	overflow: hidden;
}

#lawyer .content ul li .buttom h4 {
	font-size: 14px;
	color: #D92126;
	font-family: '微软雅黑';
	font-weight: 500;
	padding-top: 16px;
	width: 250px;
	margin: 0 auto;
}

#lawyer .content ul li .but {
	position: relative;
	margin-top: -36px;
}

#lawyer .content ul li .but a {
	display: inline-block;
	width: 138px;
	text-align: center;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	font-family: '微软雅黑';
	background: #3F3F3F;
	float: left;
}

#lawyer .content ul li .but .a1 {
	background: #D92126;
}
.ls-list{
	margin-bottom: 40px;
}
.ls-box ul {
	font-size: 0;
	margin-left: -19px;
}

.ls-box ul li {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	width: 279px;
	height: 424px;
	vertical-align: top;
	margin-left: 19px;
	position: relative;
	margin-bottom: 25px;
}

.ls-box ul li .con-piece {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #cecece;
	top: 0;
	left: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.ls-box .top-img {
	width: 100%;
	height:279px;
	overflow: hidden;
}

.ls-box .bottom-txt {
	padding: 15px;
	color: #333;
	font-size: 14px;
	line-height: 1.8;
}
.ls-box .bottom-txt P{
	padding: 0;
	margin: 0;
	font-size:14px;
	line-height:32px;
}
.ls-box .name {
	color: #a40000;
	font-size: 16px;
}

.ls-box .goodat {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ls-box .name span:first-child {
	font-size: 22px;
	margin-bottom: 5px;
}

.ls-box .btn-group {
}

.ls-box .btn-group a {
	margin-top: 5px;
	text-align: center;
	display: block;
	width: 108px;
	line-height: 28px;
	border: 1px solid #a40000;
	color: #a40000;
	font-size: 14px;
	border-radius: 5px;
}

.ls-box .btn-group a:first-child {
	background-color: #a40000;
	color: white;
}

.ls-box ul li:hover .con-piece {
	top: -20px;
	box-shadow: 0 0 14px 7px rgba(0,0,0,.2);
}

.ls-box ul li:hover .name {
	color: #fa9700;
}

.ls-box ul li:hover .name span:first-child {
	font-weight: bold;
}

.ls-box ul li:hover .btn-group a {
	background-color: #fa9700;
	border-color: #fa9700;
	color: white;
}

.fw ul{
padding-top:20px;
overflow: hidden;
margin-left: -20px;
}

.fw ul li{

	float: left;

	width: 278px;

	margin-left: 20px;

	border: 1px solid #ddd

}
.fw ul li p{
	padding:0;
	margin:0;
}
.fw ul li .pic img{
	width: 100%;
	height: 180px;
}

.fw ul li h3{

	font-weight: bold;

	font-size: 20px;

	padding:10px 20px;

	color: #000;

	text-align: center;

}

.fw ul li h3 span{

	color: #a40000

}

.fw ul li dl{

	margin:0 20px 20px 20px;

	height: 81px;

}

.fw ul li dl dd{
	margin:0;
	width: 50%;
	float: left;
}

.fw ul li dl dd a{

	display: block;

	line-height: 22px;

	font-size: 15px;

	margin-bottom: 5px;

	padding-left:10px;

	background: url(../images/dian.jpg) no-repeat left center;

}

.fw ul li .btn{

	text-align: center;

	margin-bottom: 30px

}

.fw ul li .btn a{

	border: 1px solid #a40000;

	color: #a40000;

	padding:8px 30px;

	border-radius: 30px;

	font-size: 14px

}
.clearfix:before,.clearfix:after{content:"";clear:both;display:block;height:0;visibility:hidden;}

.clearfix:after{clear:both;overflow:hidden;}

.clearfix{zoom:1;clear: both;}

#list_content{width:100%; margin-top:50px;margin-bottom:50px;}
#list_content .content{ width:1200px; margin:0 auto;}
#list_content .content .left{ width:400px; float:left;}
#list_content .content .left img{ width:100%;}
#list_content .content .right{ width:770px; float:left; margin-left:30px; position:relative;margin-bottom:30px;}
#list_content .content .right h6{padding:0;margin:0;font-size:36px; color:#3F3F3F; line-height:30px;}
#list_content .content .right h6 span{font-size:22px;font-weight:500; margin-left:20px;}
#list_content .content .right p{font-size:16px;color:#2d2841; line-height:50px;}
#list_content .content .right p span{color:#ff7700; font-weight:700;}
#list_content .content .right .list_but{ position:absolute; top:20px; right:0px;}
#list_content .content .right .list_tab{ border-top:2px solid #3F3F3F; border-left:1px solid #ececec;border-right:1px solid #ececec;border-bottom:1px solid #ececec; height:310px;}
#list_content .content .right .list_tab .tab_left{ width:340px; float:left; margin-top:36px; margin-left:30px;}
#list_content .content .right .list_tab .tab_left ul li{height:47px; background:#eae9ed; font-size:14px; color:#333; font-family:'微软雅黑';}
#list_content .content .right .list_tab .tab_left ul .li1{background:#fff;}
#list_content .content .right .list_tab .tab_left ul li .li_left{ width:74px; border-right:2px solid #fff; float:left; line-height:47px; text-align:right; padding-right:16px;}
#list_content .content .right .list_tab .tab_left ul li .li_right{ width:230px;  float:left; line-height:47px; text-align:left;padding-left:16px;}
#list_content .content .right .list_tab .tab_left ul .li1 .li_left{ border-right:2px solid #eae9ed; }
#list_content .content .right .list_tab .tab_right{  float:left;margin-top:36px;}
#list_content .content .cont_p{ padding:30px 0;}
#list_content .content .cont_p p{font-size:14px; color:#666; line-height:32px;}

/* ==提示样式== */

.msgdiv {color:#336699;padding-left:53px;background:url(../images/chk_msg.gif) 30px no-repeat;}
.errdiv {color:#FF0000;padding-left:53px;background:url(../images/chk_error.gif) 30px no-repeat;}
.rightdiv {color:#505050;padding-left:53px;background:url(../images/chk_right.gif) 30px no-repeat;}
.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px}
.okdiv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_right.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px}
.securenotice{line-height:100px;color:#FF0000;text-align:center;}


/* ============提示信息窗口============== */
div#alert {display:none;cursor:default;}
div#alert .border{border:1px #97A0AA solid;}
div#alert .ntc{padding:30px;text-align:left;background:#fff;font: 14px/1.6 'microsoft yahei',Verdana, Arial;}
div#alert .buttonzone{padding:15px;text-align:center;background:#f7f7f7;}
div#alert .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
div#alert .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}
div#alert .button{border:1px #97A0AA solid;height:22px;line-height:20px;padding:0px 5px;background:#eee}


/* ============弹出frame/或大窗口层============== */
#frmWindow {display:none;cursor:default;}
#frmWindow .border{border:1px #97A0AA solid;}
#frmWindow .ntc{padding:30px;text-align:left;background:#fff;font: 12px/1.6 'microsoft yahei',Verdana, Arial;}
#frmWindow .buttonzone{padding:15px;text-align:center;padding-top:10px;background:#f7f7f7;}
#frmWindow .Frm{width:100%;height:500px;border:0}
#frmWindow .windowcontent{width:100%;height:380px;overflow:auto;background:#fff;border:0}
#frmWindow .topBar{height:20px;line-height:20px;background:#cbddef;text-align:left;padding:0px 0px 5px 5px ;font-size:12px;}
#frmWindow .topBar .pwClose{position: absolute;top:0px;right:8px;width:45px;height:18px;background:url(../images/pwin3.gif) no-repeat;cursor:pointer}
#top {
    height: 430px !important;
}